.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  border-bottom: 5px solid #FC0;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  transform: translateY(0);
}
.header.header--hidden {
  transform: translateY(-100%);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 240px;
}
.nav__logo {
  display: block;
  height: 100px;
}
.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 50px;
}
.nav__link {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  padding: 0 20px;
  transition: color 0.3s;
}
.nav__link:hover {
  color: #FC0;
}

.footer {
  width: 100%;
  border-top: 5px solid #FC0;
  background: #000000;
  color: #FFF;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}
.footer__section {
  width: 30%;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.8px;
}
.footer__title {
  color: #FC0;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__link {
  color: #FFF;
  font-size: 18px;
  line-height: 1.6;
  display: block;
  text-decoration: none;
  transition: color 0.3s;
}
.footer__link:hover {
  color: #FC0;
}
.footer__address {
  font-style: normal;
}

@media (max-width: 1024px) {
  .header {
    width: 1024px;
  }
  .header .nav {
    padding: 0 40px;
  }
  .nav__list {
    gap: 60px;
  }
  .footer {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .nav {
    flex-direction: row;
    height: auto;
    padding: 10px;
    justify-content: flex-start;
  }
  .nav__list {
    flex-direction: column;
    gap: 15px;
  }
  .nav__link {
    font-size: 15px;
  }
  .nav__logo {
    width: 100px;
  }
  .nav__logo img {
    width: 100%;
  }
  .footer {
    padding-left: 40px;
  }
  .footer p {
    font-size: 10px;
  }
  .footer__container {
    flex-direction: column;
    margin: 0 40px;
  }
  .footer__section {
    width: 100%;
    margin: 10px;
  }
  .footer__link {
    font-size: 10px;
  }
  .footer__title {
    font-size: 15px;
  }
}
body {
  margin: 0;
  margin-top: 100px;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: #000;
}

.main {
  max-width: 1200px;
  padding-top: 50px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.hero {
  position: relative;
  text-align: center;
}
.hero__banner {
  position: relative;
  background-image: url("/img/back1.png");
  background-size: cover;
  background-position: center;
  height: 650px;
  display: flex;
  justify-content: center;
  border: 5px solid #FC0;
  padding: 20px;
}
.hero__overlay {
  position: absolute;
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.hero__gif {
  position: relative;
  width: 100%;
  margin-top: 40px;
}
.hero__gif .gif {
  border: 5px solid #FC0;
  width: 99%;
}

.content {
  padding-left: 35px;
}
.content h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content p {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 200% */
  letter-spacing: 0.4px;
}

.benefits {
  padding: 40px 40px;
  text-align: center;
}
.benefits__title {
  color: #000;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 60px;
  text-transform: uppercase;
}
.benefits__grid {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.benefit {
  flex: 1;
  max-width: 30%;
}
.benefit__title {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}
.benefit__text {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 1px;
  margin: 0;
}

@media (max-width: 768px) {
  .main {
    max-width: 600px;
    padding-top: 50px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .hero__banner {
    position: relative;
    width: 80%;
    height: 650px;
    background-image: none;
    background-position: center;
    display: flex;
    justify-content: center;
    border: 5px solid #FC0;
    margin: auto;
    background-image: url("/img/back1.png");
    background-size: cover;
    background-position: center;
  }
  .hero__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
  }
  .content {
    padding: 0px 20px;
  }
  .content h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
  }
  .content p {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
  }
  .benefits {
    text-align: center;
  }
  .benefits__title {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    margin: 40px 0px;
  }
  .benefits__grid {
    flex-direction: column;
  }
  .benefits .benefit {
    max-width: 100%;
  }
  .benefits .benefit__title {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
  }
  .benefits .benefit__text {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .gif {
    max-width: 100%;
    height: auto;
    display: block;
  }
}/*# sourceMappingURL=main.css.map */